MEDIA_XS_TOP       = 599px

MEDIA_SM            = 600px
MEDIA_SM_TOP        = 959px

MEDIA_MD            = 960px
MEDIA_MD_TOP       = 1279px

MEDIA_LG            = 1280px
MEDIA_LG_TOP        = 1919px



/*
| Layout (direction)
|
*/

[layout="row"]
  flex-direction row
    
[layout="column"]
  flex-direction column


[layout-xs="row"]
    @media screen and (max-width MEDIA_XS_TOP)
        flex-direction row

[layout-xs="column"]
    @media screen and (max-width MEDIA_XS_TOP)
        flex-direction column
        


[layout-sm="row"]
    @media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
        flex-direction row

[layout-sm="column"]
    @media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
        flex-direction column



[layout-md="row"]
    @media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
        flex-direction row

[layout-md="column"]
    @media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
        flex-direction column



[layout-lg="row"]
    @media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
        flex-direction row

[layout-lg="column"]
    @media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
        flex-direction column

/*
| Layout align
|
*/


// Base

_layoutAlign(x = start center end space-around space-between, y = start center end stretch, size = xs sm md lg)

  layourAlign_properties =
    if x == start
      justify-content flex-start      
    if x == center
      justify-content center          
    if x == end
      justify-content flex-end        
    if x == space-around
      justify-content space-around    
    if x == space-between
      justify-content space-between   
  
    if y == start
      align-content flex-start        
      align-items flex-start          
    if y == center
      align-content center            
      align-items center              
    if y == end
      align-content flex-end          
      align-items flex-end            
    if y == stretch
      align-content stretch           
      align-items stretch


  {"[layout-align='"}{x}{" "}{y}{"']"}
    max-width 100%
    box-sizing border-box
    {layourAlign_properties}

  @media screen and (max-width MEDIA_XS_TOP)
    {"[layout-align-xs='"}{x}{" "}{y}{"']"}
      max-width 100%
      box-sizing border-box
      {layourAlign_properties}

  @media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
    {"[layout-align-sm='"}{x}{" "}{y}{"']"}
      max-width 100%
      box-sizing border-box
      {layourAlign_properties}

  @media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
    {"[layout-align-md='"}{x}{" "}{y}{"']"}
      max-width 100%
      box-sizing border-box
      {layourAlign_properties}

  @media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
    {"[layout-align-lg='"}{x}{" "}{y}{"']"}
      max-width 100%
      box-sizing border-box
      {layourAlign_properties}



// Base

_layoutAlign(start, start)
_layoutAlign(start, center)
_layoutAlign(start, end)
_layoutAlign(start, stretch)

_layoutAlign(center, start)
_layoutAlign(center, center)
_layoutAlign(center, end)
_layoutAlign(center, stretch)

_layoutAlign(end, start)
_layoutAlign(end, center)
_layoutAlign(end, end)
_layoutAlign(end, stretch)

_layoutAlign(space-around, start)
_layoutAlign(space-around, center)
_layoutAlign(space-around, end)
_layoutAlign(space-around, stretch)

_layoutAlign(space-between, start)
_layoutAlign(space-between, center)
_layoutAlign(space-between, end)
_layoutAlign(space-between, stretch)



/*
| Flex
|
*/

[flex]
  flex 1
  box-sizing border-box



  
[flex="grow"]
  flex: 1 1 100%

[flex="initial"]
  -webkit-flex 0 1 auto

[flex="auto"]
  -webkit-flex 1 1 auto

[flex="none"]
  flex 0 0 auto
  
[flex="noshrink"]
  flex 1 0 auto

[flex="nogrow"]
  flex 0 1 auto

[flex="0"]
  flex 1 1 0%


// Mixin
_flex(percentage)

  [layout="column"]
    &>{"[flex='"}{percentage}{"']"}
      flex 1 1 0%
      max-width 100%
      min-width 0
      if(percentage % 5 != 0)
        max-height percentage+(percentage/100) + "%"
      else
        max-height percentage + "%"
        
  [layout="row"]
    &>{"[flex='"}{percentage}{"']"}
      flex 1 1 0%
      max-height 100%
      min-width 0
      if(percentage % 5 != 0)
        max-width percentage+(percentage/100) + "%"
      else
        max-width percentage + "%"
  
  flex_properties =
    max-height 100%
    box-sizing border-box
    if(percentage % 5 != 0)
      flex 1 1 percentage+(percentage/100) + "%"
      max-width percentage+(percentage/100) + "%"
    else
      flex 1 1 percentage + "%"
      max-width percentage + "%"

  {"[flex='"}{percentage}{"']"}
    {flex_properties}

  @media screen and (max-width MEDIA_XS_TOP)
    {"[flex-xs='"}{percentage}{"']"}
      {flex_properties}

  @media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
    {"[flex-sm='"}{percentage}{"']"}
      {flex_properties}

  @media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
    {"[flex-md='"}{percentage}{"']"}
      {flex_properties}

  @media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
    {"[flex-lg='"}{percentage}{"']"}
      {flex_properties}


    
_flex(5)
_flex(10)
_flex(15)
_flex(20)
_flex(25)
_flex(30)
_flex(35)
_flex(40)
_flex(45)
_flex(50)
_flex(55)
_flex(60)
_flex(65)
_flex(70)
_flex(75)
_flex(80)
_flex(85)
_flex(90)
_flex(95)
_flex(100)

_flex(33)



/*
| Offset
|
*/

// Mixin
_flex-offset(percentage)

  flexOffset_properties =
    if(percentage % 5 != 0)
        margin-left percentage+(percentage/100)+"%"
    else
        margin-left percentage+"%"
    
  {"[flex-offset='"}{percentage}{"']"}
    {flexOffset_properties}
    
  @media screen and (max-width MEDIA_XS_TOP)
    {"[flex-offset-xs='"}{percentage}{"']"}
      {flexOffset_properties}

  @media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
    {"[flex-offset-sm='"}{percentage}{"']"}
      {flexOffset_properties}

  @media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
    {"[flex-offset-md='"}{percentage}{"']"}
      {flexOffset_properties}

  @media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
    {"[flex-offset-lg='"}{percentage}{"']"}
      {flexOffset_properties}



_flex-offset(5)
_flex-offset(10)
_flex-offset(15)
_flex-offset(20)
_flex-offset(25)
_flex-offset(30)
_flex-offset(35)
_flex-offset(40)
_flex-offset(45)
_flex-offset(50)
_flex-offset(55)
_flex-offset(60)
_flex-offset(65)
_flex-offset(70)
_flex-offset(75)
_flex-offset(80)
_flex-offset(85)
_flex-offset(90)
_flex-offset(95)
_flex-offset(100)

_flex-offset(33)



/*
| Align
|
*/

[align="start"]
    justify-content flex-start
@media screen and (max-width MEDIA_XS_TOP)
  [align-xs="start"]
    justify-content flex-start

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [align-sm="start"]
    justify-content flex-start

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [align-md="start"]
    justify-content flex-start

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [align-lg="start"]
    justify-content flex-start



[align="end"]
    justify-content flex-end
@media screen and (max-width MEDIA_XS_TOP)
  [align-xs="end"]
    justify-content flex-end

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [align-sm="end"]
    justify-content flex-end

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [align-md="end"]
    justify-content flex-end

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [align-lg="end"]
    justify-content flex-end


[align="center"]
    justify-content center
@media screen and (max-width MEDIA_XS_TOP)
  [align-xs="center"]
    justify-content center

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [align-sm="center"]
    justify-content center

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [align-md="center"]
    justify-content center

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [align-lg="center"]
    justify-content center





/*
| Wrap
|
*/

[layout-wrap="wrap"]
    flex-wrap wrap
@media screen and (max-width MEDIA_XS_TOP)
  [layout-wrap-xs="wrap"]
    flex-wrap wrap

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [layout-wrap-sm="wrap"]
    flex-wrap wrap

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [layout-wrap-md="wrap"]
    flex-wrap wrap

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [layout-wrap-lg="wrap"]
    flex-wrap wrap



[layout-wrap="nowrap"]
    flex-wrap no-wrap
@media screen and (max-width MEDIA_XS_TOP)
  [layout-wrap-xs="nowrap"]
    flex-wrap no-wrap

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [layout-wrap-sm="nowrap"]
    flex-wrap no-wrap

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [layout-wrap-md="nowrap"]
    flex-wrap no-wrap

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [layout-wrap-lg="nowrap"]
    flex-wrap no-wrap



[layout-wrap="reverse"]
    flex-wrap wrap-reverse
@media screen and (max-width MEDIA_XS_TOP)
  [layout-wrap-xs="reverse"]
    flex-wrap wrap-reverse

@media (min-width MEDIA_SM) and (max-width MEDIA_SM_TOP)
  [layout-wrap-sm="reverse"]
    flex-wrap wrap-reverse

@media (min-width MEDIA_MD) and (max-width MEDIA_MD_TOP)
  [layout-wrap-md="reverse"]
    flex-wrap wrap-reverse

@media (min-width MEDIA_LG) and (max-width MEDIA_LG_TOP)
  [layout-wrap-lg="reverse"]
    flex-wrap wrap-reverse

